.fade.connected-container.modal{
    position: absolute;
    top:0;
    right:0;    
}
.fade.connected-container.modal .modal-dialog{
    margin-right: -100px;
}
.connected-container{
    position: absolute;
    top:0;
    right:0;
    z-index: 42;
    width: 300px;
    pointer-events: none;

}
